body {
  background-color: hsl(185deg 48% 75%);
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.splitter {
  text-align: center;
  margin-top: 5rem;
}

.flx_container {
  margin-top: 3rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  border-radius: 30px;
  padding: 2rem;
  flex-flow: column;
}

.data_container p {
  font-size: 14px;
  columns: #5e7a7d;
}

.data_input {
  position: relative;
}

.data_container input {
  width: 98%;
  text-align: right;
  padding: 6px;
  background-color: #f3f9fa;
  color: #00474b;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  font-family: "Space Mono", monospace;
}

.data_container input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
  cursor: pointer;
}

.bill_svg {
  position: absolute;
  top: 14px;
  left: 7px;
}

.people_svg {
  position: absolute;
  top: 14px;
  left: 7px;
}

.data_percent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.data_percent div {
  background-color: #00474b;
  color: white;
  text-align: center;
  font-weight: 700;
  line-height: 35.54px;
  padding: 3px 0.5rem;
  border-radius: 5px;
}

#customper {
  background-color: #f3f9fa;
  color: #547878;
}

.data_percent div:hover {
  background-color: hsl(172, 67%, 45%);
  cursor: pointer;
}


#inpcustom::placeholder{
  color:#547878;
  text-align: center;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  
}

#inpcustom {
  padding: 0;
}

.tip_amount,
.total_amount {
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
}

#tip,
#total {
  font-size: 2.15rem;
  color: #26c2ae;
}

.result_container {
  flex: 0.5;
  background-color: #00474b;
  color: #ffffff;
  padding: 2.9rem 2rem 3.7rem 2rem;
  border-radius: 20px;
  width: 90%;
}
